@import "tailwindcss";

@layer components {
	.underline-input {
		@apply w-full bg-transparent border-0 border-b border-[#b8b1a7] text-[#5f5f5f] text-[16px] pb-2 focus:outline-none focus:border-[#7d756a] placeholder:text-[#9a948b];
	}

	.file-input {
		@apply text-[16px] text-[#6f6f6f];
	}
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
